/* -------- GENERALE -------- */
:root {
    --primary-color: #0084FD;
    --primary-color-lighter: #B5DDFF;
    --secondary-color: #9492E5;
    --text-primary: rgb(52, 51, 51);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* -------- HEADER -------- */


/* --- NAVBAR --- */
.navbar {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    color: white;
}

.hamb-menu {
    font-size: 26px;
}

/* --- LINK NAVBAR DESKTOP--- */
.link-navbar {
    display: flex;
    justify-content: flex-end;
    gap: 27px;
    align-items: center;
    display: none;
}

.link {
    text-decoration: none;
    color: white;
}
/* --- BOTTONE NAVBAR --- */
.started {
    background-color: white;
    color: black;
    padding: 6px 14px;
    border-radius: 16px;
    text-decoration: none;
}


/* ---------- CONTENUTO ---------- */

/* --- INTRODUZIONE --- */
.cont-card-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px 25px 90px 25px;
}

/* --- CARD NORMALI --- */
.card-info {
    width: 100%;
    background-color: var(--primary-color-lighter);
    border-radius: 20px;
    padding: 35px 30px;
    text-align: center;
}

/* --- CARD DOPPIA --- */
.card-double {
    padding-bottom: 0px;
}

.app-store {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 50px;
    border-radius: 30px;
    display: inline-block;
    margin: 30px 0px;
}

.card-double img {
    width: 100%;
    position: relative;
    bottom: -4px;
}

/* --- CONTENUTO CARD NORMALI --- */
.cont-title-card {
    color: var(--primary-color);
}

.title-card {
    margin-bottom: 20px;
    font-size: 23px;
}

.icon-card-info {
    font-size: 70px;
    margin-bottom: 17px;
}

.testo {
    line-height: 26px;
    color: var(--text-primary);
}

/* --- PLANNING --- */
.cont-planning {
    background-color: var(--secondary-color);
}

.boxing-planning {
    padding: 80px 30px;
}

/* --- PRIMA SEZIONE PLANNING --- */
.col1-planning {
    padding-bottom: 25px;
}

.col1-planning img {
    width: 100%;
    padding-bottom: 60px;
}

.title-section {
    color: white;
    padding-bottom: 35px;
    font-size: 35px;
}

.col1-planning .testo {
    color: white;
}

/* --- SECONDA SEZIONE PLANNING --- */
.col2-planning {
    background-color: white;
    padding: 25px 18px;
    text-align: center;
    border-radius: 50px;
}

.col2-planning img {
    width: 100%;
    padding-bottom: 10px;
}

.col2-planning .testo {
    padding-bottom: 30px;
}

.col2-planning i {
    background-color: var(--secondary-color);
    padding: 17px 19px;
    border-radius: 50%;
}

/* --- TESTIMONIALS --- */

.boxing-testimonials {
    padding: 33px 30px 100px 30px;
    text-align: center;
}

.boxing-testimonials .testo {
    padding: 25px 0px;
}

.boxing-testimonials .title-section {
    color: var(--secondary-color);
    padding: 0;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 30px 18px;
    text-align: center;
    border-radius: 50px;
    color: white;
    margin-bottom: 30px;
}

.cont-img {
    width: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-img img {
    width: 160%;
}

.testimonial-card .testo {
    color: white;
}


/* --- BENEFIT --- */

.cont-benefit {
    background-color: var(--secondary-color);
}

.boxing-benefit {
    padding: 33px 30px 60px 30px;
    text-align: center;
}

/* --- CARD BENEFIT --- */
.card-benefit {
    background-color: white;
    color: var(--secondary-color);
    text-align: left;
    padding: 27px 35px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.card-benefit .title-section {
    color: var(--secondary-color);
    padding-bottom: 25px;
}

.more {
    border-radius: 26px;
    background-color: var(--secondary-color);
    padding: 10px 50px;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-top: 20px;
}


/* --- ABOUT US  --- */

.boxing-about-us {
    padding: 33px 30px 60px 30px;
}

/* --- PRIMA SEZIONE ABOUT US  --- */
.boxing-about-us .title-section {
    color: var(--secondary-color);
}

.boxing-about-us .title-card {
    color: var(--secondary-color);
}

.boxing-about-us .testo {
    line-height: 30px;
    margin-bottom: 15px;
}

/* --- SECONDA SEZIONE ABOUT US  --- */
.col2-about-us {
    position: relative;
    margin-top: 35px;
}

.col2-about-us .title-card {
    margin-top: 25px;
}

.virgoletta {
    color: var(--secondary-color);
    font-size: 150px;
    position: absolute;
    top: -10px;
    left: 110px;
}

.linkedin {
    background-color: var(--secondary-color);
    border-radius: 26px;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}


/* --- INIZIA  --- */

.cont-inizia {
    background-color: var(--secondary-color);
}

.boxing-inizia {
    text-align: center;
    padding: 33px 30px 60px 30px;
}

.boxing-inizia .testo {
    color: white;
}

.boxing-inizia .testo a {
    color: white;
}

.boxing-inizia .title-card {
    color: white;
    padding-top: 15px;
    font-size: 28px;
    line-height: 38px;
}

.boxing-inizia .title-section {
    color: #FDC15F;
    font-size: 50px;
}

.get-started {
    text-decoration: none;
    color: var(--secondary-color);
    background-color: white;
    padding: 12px 40px;
    display: inline-block;
    border-radius: 26px;
    margin: 20px 0px;
}


/* ---------- FOOTER ---------- */
footer {
    background-color: #333333;
}

.boxing-footer {
    text-align: center;
    padding: 33px 30px 60px 30px;
}

.boxing-footer .testo {
    color: white;
}

.boxing-footer .testo a{
    color: var(--secondary-color);
}

.info-legali {
    margin-top: 40px;
}


/* ---------- TABLET ---------- */


@media screen and (min-width: 750px){
    
    /* --- PRIMA SEZIONE  --- */
    .cont-card-info {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card-info {
        width: calc(33% - 1rem);
    }

    .card-double {
        width: calc(66.66% - 0.77rem);
    }

    /* --- PLANNING  --- */

    .boxing-planning .title-section {
        font-size: 60px;
        margin-bottom: 25px;
    }
    
    /* --- TESTIMONIALS  --- */

    .testimonial-card {
        display: flex;
        flex-direction: row;
    }

    .boxing-testimonials .cont-img {
        width: 30%;
    }

    .col2-testimonials {
        width: 70%;
        text-align: left;
        padding-left: 20px;
    }

}