/* -------- GENERALE -------- */
:root {
    --primary-color: #0084FD;
    --primary-color-lighter: #B5DDFF;
    --secondary-color: #9492E5;
    --text-primary: rgb(52, 51, 51);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* -------- HEADER -------- */


/* --- NAVBAR --- */
.navbar {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    color: white;
}

.hamb-menu {
    font-size: 26px;
}

/* --- LINK NAVBAR DESKTOP--- */
.link-navbar {
    display: flex;
    justify-content: flex-end;
    gap: 27px;
    align-items: center;
    display: none;
}

.link {
    text-decoration: none;
    color: white;
}
/* --- BOTTONE NAVBAR --- */
.started {
    background-color: white;
    color: black;
    padding: 6px 14px;
    border-radius: 16px;
    text-decoration: none;
}


/* ---------- CONTENUTO ---------- */

/* --- INTRODUZIONE --- */
.cont-card-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px 25px 90px 25px;
}

/* --- CARD NORMALI --- */
.card-info {
    width: 100%;
    background-color: var(--primary-color-lighter);
    border-radius: 20px;
    padding: 35px 30px;
    text-align: center;
}

/* --- CARD DOPPIA --- */
.card-double {
    padding-bottom: 0px;
}

.app-store {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 50px;
    border-radius: 30px;
    display: inline-block;
    margin: 30px 0px;
}

.card-double img {
    width: 100%;
    position: relative;
    bottom: -4px;
}

/* --- CONTENUTO CARD NORMALI --- */
.cont-title-card {
    color: var(--primary-color);
}

.title-card {
    margin-bottom: 20px;
}

.icon-card-info {
    font-size: 70px;
    margin-bottom: 17px;
}

.testo {
    line-height: 26px;
    color: var(--text-primary);
}

/* --- PLANNING --- */
.cont-planning {
    background-color: var(--secondary-color);
}

.boxing {
    padding: 80px 30px;
}

/* --- PRIMA SEZIONE PLANNING --- */
.col1-planning {
    padding-bottom: 25px;
}

.col1-planning img {
    width: 100%;
    padding-bottom: 60px;
}

.title-section {
    color: white;
    padding-bottom: 35px;
}

.col1-planning .testo {
    color: white;
}

/* --- SECONDA SEZIONE PLANNING --- */
.col2-planning {
    background-color: white;
    padding: 25px 18px;
    text-align: center;
    border-radius: 50px;
}

.col2-planning img {
    width: 100%;
    padding-bottom: 10px;
}

.col2-planning .testo {
    padding-bottom: 30px;
}

.col2-planning i {
    background-color: var(--secondary-color);
    padding: 17px 19px;
    border-radius: 50%;
}

